/* APP */
.app {
    height: 97vh;
    width: 98vw;
    margin: 0;
    overflow: hidden;
}

.header {
    width: 39%;
    height: 100%;
    float: left;
    margin-right: 1%;
}

.places-list {
    height: 100%;
    margin-top: 10px;
    overflow: auto;
}

.map-container {
    width: 60%;
    height: 100%;
    float: right;
    overflow: hidden;
}

.loading {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* SEARCH BAR */
.search-bar {
    padding: 2px 4px;
    display: flex;
    align-items: center;
    width: 100%;
    background-color: black;
}

.input-box {
    margin-left: 1px;
    flex: 1px;
}

.search-icon {
    color: black;
}

/* MAP */
.map {
    width: 100%;
    height: 98vh;
}

.marker-container {
    z-index: 1;
    position: absolute;
    transform: translate(-50%, -50%);
}

.marker-container:hover {
    z-index: 2;
}

.place-preview {
    width: 100px;
    padding: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.image {
    cursor: pointer;
}

/* FILTER */
.filter-container {
    width: 90%;
    padding-top: 2%;
}

.type-filter {
    width: 45%;
}

.choices {
    height: 30px;
}

/* PLACE INFO */
.place-card {
    font-family: Tahoma, sans-serif;
}

.chip {
    margin: 5px 5px 5px 0;
}

.address {
    align-items: center;
    display: flex;
    margin-top: 10px;
    justify-content: space-between;
}

.phone {
    align-items: center;
    display: flex;
    justify-content: space-between;
}